---
const projects = [
  {
    title: "Freemans",
    image: "/images/home/project1.png",
    desc:
      "Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius...",
    color: "#d82929" ,
     link: "/projects/freemans",
     tags: ["UX Design", "Development", "Other"]
  },
  {
    title: "Globallogic",
    image: "/images/home/project2.png",
    desc:
      "Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius...",
    color: "#FF5F2DF2",
    link: "/projects/globallogic",
    tags: ["UX Design", "Development", "Other"]
  },
  {
    title: "Soumya Construction",
    image: "/images/home/project3.png",
    desc:
      "Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius...",
    color: "#AC3B61",
     link: "/projects/soumya-construction",
     tags: ["UX Design", "Development", "Other"]
  },
  {
    title: "Freemans",
    image: "/images/home/project1.png",
    desc:
      "Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius...",
    color: "#d82929",
    link: "/projects/freemans",
    tags: ["UX Design", "Development", "Other"]
  },
];
---

<section class="col3Projectslider" id="horizontal-Projectscroll" >
  <div class="col3Projects_container slider-container--left">
    <div class="container">

    <div class="heading-block">
      <h2 class="title_blk">Web Development.</h2>
      <p class="description_blk">
       We ensure that all our web development and mobile application development projects are not only engineered using the most cutting edge technologies, but also they're created through a human-centred design process.
      </p>
    </div>

    <div class="Projects-slider">
      <div class="Projects-slidertrack">
        {projects.map((item) => (
           <a
              href={item.link}
              class="slider-link"
              data-cursor-text="view more"
            >
          <article class="slider-item" key={item.title} data-color={item.color}>
            <div class="img_blk">
            <img src={item.image} alt={item.title} />
            </div>
            <div class="content_blk">
            <h5>{item.title}</h5>
            <p>{item.desc}</p>
             <ul class="tag-list">
            {item.tags?.map((tag) => (
              <li class="tag-item">{tag}</li>
            ))}
          </ul>
            </div>
          </article>
          </a>
        ))}
      </div>
    </div>

  </div>
  </div>
</section>



