---
import ContentSubHead from "./ContentSubHead.astro";

const {
  heading = "Got Questions?",
  services = [],
  bgColor = "#FFFFFF",
} = Astro.props;
---

<section class="FaqScrollsection bg-change" data-color={bgColor}>
  <div class="container">
    <div class="Faq-area">

      <ContentSubHead
        heading={heading}
        align="center-align"
        color="#9C9C9C"
      />
      <h2 class="heading_text">We've Got Answers!</h2>

      <div class="Faq-accordion-area" id="Faq-scroll-wrapper">
        <div id="grid_container">

          {services.map((service) => (
            <div class="scroll-accordion scroll-block">

              <div class="title-row">
                <div class="heading-row">
                  <h6 class="title__number">{service.id}</h6>
                  <h5>{service.title}</h5>
                </div>
                <div class="icon-wrapper">
                  <span class="open-icon" aria-hidden="true">Open</span>
                  <span class="close-icon" aria-hidden="true">Close</span>
                </div>
              </div>

              <div class="text__wrapper">
                <div class="content-box-col">
                  <div class="content-box">
                    <p>{service.description}</p>
                  </div>
                </div>
              </div>

            </div>
          ))}

        </div>
      </div>

    </div>
  </div>
</section>
