---
import Button from "../components/Button.astro";
const projects = [
  {
    image: "/images/home/feature1.jpg",
    description: [
      "GlobalLogic: Engineering impact through intelligent products, platforms, and services.",
      "Our mission is to build digital products, platforms, and services designed for desirability, curated for intelligence, and engineered for excellence."
    ],
    tags: ["Branding", "UX Design", "Development"],
    logoimage: "/images/home/feature-logo1.svg",
    link: "#",
    size: "large",
  },
  {
    title: "Obsessed with Quality!",
    image: "/images/home/feature2.jpg",
    description: [
      "Yes, at Acodez, we're obsessed with quality. We rely on our portfolio to do business and always ensure that each of our web or mobile deliverable is unique and world class."],
    link: "#",
    size: "medium",
  }
];

---

<section class="featured-work-sec bg-chnge" data-color="#0E1216">
  
    <div class="featured-area">
        <!-- <div class="heading-layer"> -->
            <div class="heading-block">
                <h2 class="heading-text rolling-text">Featured works</h2>
            </div>
        <!-- </div> -->
        <div class="cards-grid-area">
            
                <div class="cards-grid" id="card-grid">
                    {projects.map((item) => (
                        <article class={`card-block ${item.size}`}>
                            <div class="container">
                                <a href={item.link} class="cta">
                                    <div class="card-wrap">
                                        <div class="image-wrap" >
                                            <img src={item.image} alt={item.title} loading="lazy" />
                                        </div>
                                        <div class="content-wrap">
                                            {item.logoimage && (
                                            <div class="image-blk">
                                                <img src={item.logoimage} alt={item.title} loading="lazy" />
                                            </div>
                                            )}
                                            <div class="text-blk">
                                                {item.title && (
                                                <h4>{item.title}</h4>
                                                )}
                                                {item.description.map((text) => (
                                                <p>{text}</p>
                                                ))}
                                            </div>

                                        {item.tags && (
                                            <ul class="tags-blk">
                                                {item.tags.map((tag) => (
                                                <li>{tag}</li>
                                                ))}
                                            </ul>
                                            )}

                                            
                                            
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </article>
                    ))}
            </div>
        </div>

        
    </div>
    <div class="explore">
        <Button href="#" text="Explore all" variant="primary" extraClass="large-icon-btn" />
    </div>
</section>